@use './layout.scss';
@use './page.scss';
@use './font.scss';

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root {
  --primary-main: #3d6fd9;
  --text-primary: #1c1d21;
  --selection-color: #f2f3f5;
  --scroller-color: #a8abb2;
  --background-color: #f2f3f5;
  --background-paper: #ffffff;
  --background-elevated: #ffffff;
  --background-color-alpha: rgba(61, 111, 217, 0.1);
  --border-radius: 8px;
}

::selection {
  color: var(--selection-color);
  background-color: var(--primary-main);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroller-color);
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  overflow: hidden;
}

.user-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
